/* =================================
  Base Element Styles
==================================== */
*{
    /* box-sizing: border-box; */
    font-family: monospace;
}


/* =================================
  Base Layout Styles
==================================== */
/* ---- Navigation ---- */
.nav-item a {
  font-size: 35px;
  margin: 5px;
}

/* ---- Layout Containers ---- */
.primaryContainer{
  width: 100%;
  height: 600px;
  padding-top: 200px;
  background-color: gray;
  background-image: linear-gradient(to bottom right, gray, black);
}

.secondaryContainer{
  background-color: #45567d;
  height: 1000px;
  width: 100%;
  padding-top: 100px;
}

.tertiaryContainer{
  background-color: #303841;
  width: 100%;
  padding-top: 50px;
}

/* ---- Page Elements ---- */
.bannerHead{
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 5px;
  color: white;
}

.lead{
    font-size: 25px;
    color: #be3144;
}

.btn-style{
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.modal-body{
  text-align: left;
  font-size: 20px;
}

.modalImage{
  height: 350px;
  width: 100%;
}

.secondaryHeader{
  color: white;
  font-weight: lighter;
  padding-bottom: 5px;
  border-bottom: 2px solid white;
}

.nav-item{
  padding:5px;
}
.nav-item a:hover {
  transform: scale(1.1);
  color: white;
}
